body {
    max-width: max-content;
    margin: auto;
    background-color: #1f1f23;
    color: #c3c3c8;
}


#lab5-top, #lab5-bottom {
    display: flex;
    justify-content: center;
}

.plot {
    margin-right: 2em;
    margin-left: 2em;
}

#piechart {
    margin-top: 1.5em;
    margin-left: 13em;
}

#areachart {
    margin-left: 9em;
}

.navbar {
    text-align: center;
}

/* .plot {
    display: none;
} */